.hero-image {
    background-image: url('../Pages/images/image1.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text {
    text-align: center;
}
.container {
    padding-top: 40px;
}